# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# vs code
.vscode/

# firebase
.firebase/

.tool-versions

NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyC62L0BsAX9yX_UCDokd6kHDEuvBUEOR3M"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="fotofinderbeilei.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_DATABASE_URL="https://fotofinderbeilei-default-rtdb.firebaseio.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="fotofinderbeilei"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="fotofinderbeilei.appspot.com"
NEXT_PUBLIC_FIREBASE_APP_ID="1:566660615053:web:fe2840ff6b1429afebcbc4"
