@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: rgb(166, 156, 143);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fffbf7;
}

/*button*/
.appointment-form {
  color: rgb(166, 156, 143);
}

.app-button {
  background-color:  rgb(234, 226, 216);
  color:rgb(131, 123, 113);
  outline-color: wheat;
}

/*profile side nav */

.sideNavBar{
  flex-grow: 1;
}

.profile-main{
  flex-grow: 3;
}